<div id="<%= dom_id inventory_food %>">
  <p>
    <strong>Quantity:</strong>
    <%= inventory_food.quantity %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= inventory_food.inventory_id %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= inventory_food.food_id %>
  </p>

</div>
