<div class="recipe-container">
<h1>NEW INVENTORY FOOD</h1>

<%= render "form", inventory_food: @inventory_food %>

<br>

<div>
  <%= link_to "Back to inventory foods", inventory_foods_path %>
</div>
</div>
