<%= form_with url: shopping_list_path(recipe_id: @recipe), method: :get, id: "shopping-form" do |form| %>
  <div class="generate-shopping-list-div">
  <%arr = []%>
  <%dropdown_inventories.each do |inventory|%>
  <%arr << [inventory.Name, inventory.id] if can? :destroy, inventory%>
  <%end%>
    <%= form.select :inventory_id, arr, { :prompt => 'Click to see inventories'}, required: true, class: "see-inventories" %>
    <%= form.submit "Generate"%>
  
  </div>
  <% end %>

<script>
  const form = document.getElementById("shopping-form");

  const select = form.elements["shopping_list[inventory_id]"];

  select.addEventListener("change", function() {
    const inventoryId = select.value;

    form.action = "<%= shopping_list_path(recipe_id: @recipe) %>?" + "inventory_id=" + inventoryId;
  });
</script>