<div class="recipe-container">
<h1>EDITTING FOOD</h1>

<%= render "form", food: @food %>

<br>

<div>
  <%= link_to "Show this food", @food %> |
  <%= link_to "Back to foods", foods_path %>
</div>
</div>
