:root {
  --blue: #0f6292;
  --green: #16ff00;
  --dark: #2d2d2d;
  --grey: #ececec;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--white);
  font-size: 1.4rem;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  width: 100%;
}

.nav-items {
  padding-left: 50px;
  padding-right: 50px;
  margin: unset;
  height: 50px;
  font-size: 18px;
  display: flex;
  gap: 15px;
  list-style: none;
  background-color: #000;
  justify-content: flex-start;
  align-items: center;
}

.nav_item {
  color: white;
}

.nav_item a,
.login_btn a {
  text-decoration: none;
  color: white;
}

.signOut_and_userName {
  margin-left: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: white;
  color: #000;
  border-radius: 50%;
  font-weight: 700;
  padding: 2px;
  text-align: center;
}

.signOut {
  background-color: #b33030;
  color: white;
  border-radius: 10px;
  width: fit-content;
  padding: 2px;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

.login_btn {
  background-color: #219f94;
  color: white;
  border-radius: 10px;
  width: fit-content;
  padding: 2px;
  margin-left: auto;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

/* Registraion page */

.recipe-container {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  margin-right: auto;
  height: 75vh;
  padding: 0 1.5rem 3rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;

  /* border-color: var(--grey); */
  border: #b33030 solid 1px;
  border-radius: 25px;
}

h1 {
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  padding: 1.6rem;
}

form input {
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}

form label {
  font-size: 18px;
  margin-left: 3px;
}

.field {
  width: 100%;
  height: 70px;
  font-weight: 700;
}

.submitBtn {
  background-color: #219f94;
  color: white;
  padding: 2px;
  font-weight: 700;
  font-size: 18px;
}

.link {
  width: 100%;
  margin-top: 20px;
}

.link a {
  background-color: #219f94;
  color: white;
  padding: 2px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  display: block;
  text-align: center;
}
