.recipes-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 0 1.5rem 3rem;
  border: 2px solid var(--blue);
  height: 75vh;
}

.recipes-title {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--grey);
}

.recipes-features {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  gap: 1rem;
}

.recipes-features .btn {
  padding: 5px 14px;
  color: var(--white);
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.list_btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list_btn .recipe_btn, .list_btn .details {
  background-color: var(--green);
  padding: 5px 14px;
  color: var(--white);
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.list_btn .recipe_btn:hover {
  box-shadow: 3px 3px 4px 1px #0e0e0e9e;
}

form.button_to button {
  /* background: none;
  background-color: var(--red);
  border: none;
  color: var(--white); */
}
