.recipes-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 1%;
  padding: 0 1.5rem 3rem;
  border-color: var(--blue);
  border-style: solid;
  border-width: 2px 2px 0 2px;
  height: 100vh;
}

.recipes-container h1 {
  color: var(--red);
}

.recipes-title {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--grey);
  color: var(--dark);
}

.recipes-features {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  gap: 1rem;
}

.recipes-features .btn,
form.button_to button {
  padding: 5px 14px;
  color: var(--white);
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
}

.list_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_btn .recipe_btn,
.list_btn .details {
  background-color: var(--blue);
  padding: 5px 14px;
  color: var(--white);
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
}

.list_btn .recipe_btn:hover {
  box-shadow: 3px 3px 4px 1px #0e0e0e9e;
}

form.button_to button {
  background: none;
  background-color: var(--red);
}

.act-btns {
  display: flex;
  flex-direction: column;
}

.back-forward {
  margin-top: 2%;
}

.if-public {
  background-color: var(--red);
  padding: 8px;
  border-radius: 5%;
  color: var(--white);
}
